@page
@model WebApplicationCore.Pages.Entregas.EntregaEditModel
@{
}

<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit">


                <input type="hidden" asp-for="Entity.EntregaId" v-model="Entity.EntregaId" />

                <div class="form-group mb-3">
                    <label for="Entity.FechaEntrega" class="form-label">Fecha Entrega</label>
                    <b-form-datepicker id="FechaEntrega" name="FechaEntrega" class="form-control" v-model="Entity.FechaEntrega" required>
                    </b-form-datepicker>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PedidoId" class="form-label">NumPedido</label>
                    <input type="text" class="form-control" asp-for="Entity.PedidoId" v-model="Entity.PedidoId" maxlength="250" required>
                </div>


                <div class="form-group mb-3">
                    <label for="Entity.IdCatalogoProvincia" class="form-label">Provincia</label>

                    <select asp-for="Entity.IdCatalogoProvincia" class="form-select" v-model="Entity.IdCatalogoProvincia"
                            asp-items="@(new SelectList(Model.ProvinciaLista,"IdCatalogoProvincia","NombreCatalogoProvincia"))"
                            v-on:change="OnChangeProvincia"
                            required>
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.IdCatalogoProvincia" class="form-label">Canton</label>

                    <select asp-for="Entity.IdCatalogoCanton" class="form-select" v-model="Entity.IdCatalogoCanton"
                            v-on:change="OnChangeCanton" required>
                        <option v-for="item in CantonLista" :value="item.IdCatalogoCanton"> {{item.NombreCatalogoCanton}}</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.IdCatalogoProvincia" class="form-label">Distrito</label>

                    <select asp-for="Entity.IdCatalogoDistrito" v-model="Entity.IdCatalogoDistrito" class="form-select" required>
                        <option v-for="item in DistritoLista" :value="item.IdCatalogoDistrito"> {{item.NombreCatalogoDistrito}}</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CamionId" class="form-label">Seleccione el Camion</label>

                    <select asp-for="Entity.IdCamion" class="form-select"
                            asp-items="@(new SelectList(Model.CamionesLista,"CamionId","Cualidad"))" required>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CamionId" class="form-label">Seleccione el Conductor</label>

                    <select asp-for="Entity.IdConductor" class="form-select"
                            asp-items="@(new SelectList(Model.ConductorLista,"ConductorId","NombreConductor"))" required>
                    </select>
                </div>

                <div class="form-group form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="Entity.Estado" v-model="Entity.Estado" value="true">
                    <label class="form-check-label" for="Entity_Estado">Estado</label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-outline-primary">
                            @(Model.id.HasValue ? "Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

@section Scripts{

    <script defer src="~/App/Entregas/EntregaEdit.js"></script>
}
